@import "tailwindcss";

@theme {
  --color-default-bg: #F3E5AB;
  --color-default-text: #4F4432;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #F3E5AB;
  color: #4F4432; 

  /*color scheme for default mode*/
  --color-defaultBg:#F3E5AB;
  --color-defaultText:#4F4432;
}

h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: semibold;
  font-size: 2.5rem;
}

/* Custom slider styles */
.slider-large {
  -webkit-appearance: none;
  appearance: none;
  height: 6px;
  border-radius: 3px;
  background: #4F4432;
  outline: none;
}

.slider-large::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4F4432;
  cursor: pointer;
  border: 2px solid #F3E5AB;
}

.slider-large::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4F4432;
  cursor: pointer;
  border: 2px solid #F3E5AB;
}